body {
	background-color: black;
}
#gameCanvas {
	background-color: black;
	width: 640px;
	height: 360px;
	margin: 0 auto;
	border: solid 2px white;
}

#content header {
	color : white;
	width: 640px;
	margin: 0 auto;
	text-align:center;
}

#content{
	
	width: 920px;
	height: 720px;
	margin: 0 auto;
}
